<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page Title -->
    <title>Crescendo - Recipe Management</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">

</head>

<body>
    <!--============================= HEADER =============================-->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->
    <!--//END FIND PLACES -->
    <!--============================= ADD LISTING =============================-->
    <section class="slider fullscreen main-block light-bg">
        <div class="container">
            <div class="login-page">
              <div class="form">
                <form enctype="multipart/form-data" class="register-form" action = "{% url 'process_recipe' %}"> {% csrf_token %}
                    <input class="dynamic" name="recipe_name" placeholder="Recipe Name"></input>
                    <textarea class="dynamic" name="details" placeholder="Details"></textarea>
                    <textarea class="dynamic" name="ingredients" placeholder="Ingredients"></textarea>

                    <button style=""> Upload Ingredient Photos
                        <input type="file" name="files[]" id="files" required multiple>
                    </button>
                    <br><br>

                    <button type="button" onclick="uploadimage()">Upload</button><br><br>


                    </br>
                    </br>
                    <textarea class="dynamic" name="cooking_steps" placeholder="Cooking Steps"></textarea>
                    </br>
                    <button style="">Upload Step Photos <input type="file" name="img2" multiple></button>


                    </br>
                    </br>
                    <button style="">Upload Food Photos <input type="file" name="img3" multiple></button>
                    </br>
                    </br>
                    <textarea class="dynamic" name="tags" placeholder="Tags"></textarea>
                    </br>
                    <button>Save</button>
                </form>
              </div>
            </div>
        </div>
    </section>

    <script>
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        var autoExpand = function (field) {

            // Reset field height
            field.style.height = 'inherit';

            // Get the computed styles for the element
            var computed = window.getComputedStyle(field);

            // Calculate the height
            var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                         + parseInt(computed.getPropertyValue('padding-top'), 10)
                         + field.scrollHeight
                         + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                         + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

            field.style.height = height + 'px';

        };

        document.addEventListener('input', function (event) {
            console.log('sea')
            autoExpand(event.target);
        }, false);
    </script>

    <script>
          function uploadimage(){
          var storage = firebase.storage();
          var files = document.getElementById("files").files;
          for(let i = 0; i<files.length; i++) {
              var file = files[i];
              console.log(file);
              var storageRef = storage.ref();
              var thisref = storageRef.child(file.name).put(file);


                  thisref.on('state_changed',function(snapshot){

                  console.log("file uplaoded succesfully");
                  console.log(snapshot);

                  },  function(error) {

                  },  function() {
                  // Upload completed successfully, now we can get the download URL
                  console.log("got url");

                  var storageRef = storage.ref(file.name);
                    storageRef.getDownloadURL().then(function(url) {
                      console.log(url);
                   });

                });
          }


    }

    </script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to uses
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCJh9Wr_F2Z4-XghXT6x13Y7SGlF_kgNqk",
    authDomain: "ccrescendo-ff945.firebaseapp.com",
    databaseURL: "https://ccrescendo-ff945.firebaseio.com",
    projectId: "ccrescendo-ff945",
    storageBucket: "ccrescendo-ff945.appspot.com",
    messagingSenderId: "713564167342",
    appId: "1:713564167342:web:63b50956d7e9b275"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

</body>

</html>
